
 .header-bar {
    background-color: blanchedalmond;    
    color: rgb(0, 0, 0);                 
    padding: 15px;                 
    text-align: center;            
    font-size: 60px;
    font-weight: bold;
    border-radius: 15px 15px 0 0;  
}

 h2 {
  font-family: 'Boldonse', sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: rgb(55, 41, 9);
 }

 body {
  font-family:'Work Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.8;
  text-align: center;
  color: #333333;
  background-color: #a56355;
 }

.para-box {
    font-family: "Bitcount Prop Single", system-ui;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2c3e50;
    background-color: #ecb6b6; 
    padding: 20px;              
    border-radius: 10px;        
    margin: 20px auto;          
    width: fit-content;         
}

table td, table th {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}


.table-background {
    background-color: #ecb6b6; 
    padding: 20px;            
    border-radius: 15px;      
    width: fit-content;       
    margin: 0 auto;           
}

.colored-line {
    border: none;
    height: 4px;          
    background-color: rgb(0, 0, 0);
    margin: 20px 0;        
    border-radius: 10px;   
}

